<div th:fragment="js">
	<!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>

    <!-- Wow js -->
    <script type="text/javascript" src="js/wow.min.js"></script>

    <!-- Mixitup js -->
    <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>

    <!-- Magnific-popup js -->
    <script type="text/javascript" src="js/jquery.magnific-popup.js"></script>

    <!-- accordion js -->
    <script type="text/javascript" src="js/accordion.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/materialize.js"></script>

    <!-- Funcões do nosso site-->
    <script type="text/javascript" src="js/funcoes.js"></script>

    <!-- wow js active -->
 
    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</div>