<div class="container" th:fragment="footer">
    <div class="col-md-6 contact">
        <h1>Sobre HR ANALYTICS</h1>
        <p>Insira o texto aqui Insira o texto aqui Insira o texto aqui Insira o texto aqui Insira o texto aqui .</p>
        <p>Insira o texto aqui Insira o texto aqui Insira o texto aqui Insira o texto aqui Insira o texto aqui </p>
    </div>
    <div class="col-md-3 contact footer-menu">
        <h1>Social</h1>
        <ul>
            <li>
                <a href="#">Facebook</a>
            </li>
            <li>
                <a href="#">Twitter</a>
            </li>
            <li>
                <a href="#">Github</a>
            </li>
            <li>
                <a href="#">Pinterest</a>
            </li>
            <li>
                <a href="#">Google Plus</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 contact">
        <h1>Contatos</h1>
        <p> Contate nosso centro de suporte se você tiver alguma dúvida. Iremos ajudá-los. </p>
        <a href="mailto:hranalytics@gmail.com">hranalytics@gmail.com</a>
    </div>
</div>