<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head th:insert="fragmentos/header :: header">
    <meta charset="utf-8">
</head>

<body data-spy="scroll" data-target=".navbar-desktop">

    <!--Navbar-->
    <div th:insert="fragmentos/navbar :: navbar"></div>
    
    <h1>ADMIN PAGE</h1>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    
    <div class="btn-group pull-right">
		<a class="btn btn-sm btn-primary" th:href="@{'/admin/cadastro/pendentes'}">Cadastros pendentes</a>
	</div>

    <div th:insert="fragmentos/rodape :: footer" class="footer" id="contact">
    </div>

    <div th:insert="fragmentos/imports-js :: js"></div>

</body>

</html>