<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head th:insert="fragmentos/header :: header">
    <meta charset="utf-8">
</head>

<body data-spy="scroll" data-target=".navbar-desktop">

    <!--Navbar-->
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
        <!--Collapse button-->
        <div class="container">
            <a href="#" data-activates="mobile-menu" class="button-collapse right">
                <i class="fa fa-bars black-text"></i>
            </a>

            <!--Content for large and medium screens-->
            <div class="navbar-desktop">
                <!--Navbar Brand-->
                <a class="navbar-brand" href="index.html">
                    <img src="img/logotipo2.png" alt="" />
                </a>
                <!--Links-->
                <ul class="nav navbar-nav pull-right hidden-md-down text-uppercase" id="desktop-menu">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- LINKS-->
            <div class="navbar-mobile">
                <ul class="side-nav" id="mobile-menu">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>-->
                </ul>
            </div>
        </div>
        </div>
    </nav>

    <section class="joinus" id="secaoCadastroUsuario">
        <div class="main_joinus_area m-y-3">
            <div class="container">
                <div class="row">
                    <br>
                    <br>
                    <div class="col-md-8 col-md-offset-3 section-title">
                        <h3>Cadastrar Usuário</h3>
                        <p>Faça seu cadastro para ter acesso aos serviços HR Analytics.</p>
                    </div>
                </div>

                <form name="cadastro" id="cadastro" th:object="${usuario}" th:action="@{/cadastro/salvar}" method="POST">
                    
                    <div class="row">
                        <div class="col-md-8 section-title">
                            <h4>1º Passo: Dados da empresa</h4>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <label for="cnpj">CNPJ:</label>
                            <input type="text" id="cnpj" name="cnpj" th:value="${usuario.cnpj}" th:field="*{cnpj}" class="form-control" readonly="readonly">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="situacao">Situação CNPJ:</label>
                            <input type="text" id="situcao" name="situcao" th:value="${usuario.situacao}" class="form-control" readonly="readonly">
                        </div>

                        <div class="col-md-6">
                            <label for="nomeFantasia">Nome Fantasia:</label>
                            <input type="text" id="nomeFantasia" name="nomeFantasia" th:value="${usuario.nome}" class="form-control" readonly="readonly">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="cep">CEP:</label>
                            <input type="text" id="cep" name="cep" th:value="${usuario.cep}" class="form-control" readonly="readonly">
                        </div>
                        
                        <div class="col-md-6">
                            <label for="numero">Número:</label>
                            <input type="text" id="numero" name="numero" th:value="${usuario.numero}" class="form-control" readonly="readonly">
                        </div>
                    </div>

                    <hr/>
                    
                    <div class="row">
                        <div class="col-md-8 section-title">
                            <h4>2º Passo: Dados do funcionário responsável</h4>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <label for="nome">Nome*:</label>
                            <input type="text" id="nome" name="nome" class="form-control" maxlength="100">
                        </div>

                        <div class="col-md-6">
                            <label for="email">E-mail*:</label>
                            <input type="email" id="email" name="email" class="form-control" maxlength="100">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="cpf">CPF*:</label>
                            <div class="msgCampos" id="msgCpf"></div>
                            <input type="text" id="cpf" name="cpf" class="form-control" onkeypress="this.value = formatarCpf(event)"
                                maxlength="14" onpaste="return false;">
                        </div>
                        <div class="col-md-6">
                            <label>Telefone:</label>
                            <input type="text" id="IDtelefone1" name='telefone1' class="form-control" maxlength="14" onkeypress="this.value = formatarTelefone(event)">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Celular:</label>
                            <input type="text" id="IDtelefone2" name="telefone2" class="form-control" maxlength="14" onkeypress="this.value = formatarTelefone(event)">
                        </div>
                    </div>

                    <hr/>

                    <div class="row">
                        <div class="col-md-8 section-title">
                            <h4>3º Passo: Usuário e senha de acesso</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Usuário*:</label>
                            <input type="text" id="IDusuario" class="form-control" maxlength="8">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Senha*:</label>
                            <div class="msgCampos" id="msgSenha"></div>
                            <input type="password" id="IDsenha" name="senha" class="form-control" maxlength="8" onpaste="return false;">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Confirmar Senha*:</label>
                            <input type="password" id="IDconfirmarSenha" name="confirmarSenha" class="form-control" maxlength="8" onpaste="return false;">
                        </div>
                    </div>

                    <hr/>

                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-default" onclick="finalizarCadastro()"> Finalizar cadastro
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </section>

    <div th:insert="fragmentos/imports-js :: js"></div>

</body>

</html>