<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head th:insert="fragmentos/header :: header">
    <meta charset="utf-8">
</head>

<body data-spy="scroll" data-target=".navbar-desktop">

    <!--Navbar-->
    <div th:insert="fragmentos/navbar :: navbar"></div>

    <section class="joinus" id="secaoBuscarTwitter">
        <div class="main_joinus_area m-y-3">
            <div class="container">
                <div class="row">
                    <br>
                    <br>
                    <div class="col-md-8 col-md-offset-3 section-title">
                        <h3>Candidatos</h3>
                        <p>Cadastros liberados para análise de perfil.</p>
                    </div>
                </div>
				
                <table class="table table-sm table-striped table-hover table-bordered" id="candidatos">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data de Nascimento</th>
                            <th>Email</th>
                            <th>Perfil Twitter</th>
                            <th>Status</th>
                            <th>Comparar</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="candidato : ${candidatos}">
                            <td th:text="${candidato.nome}" th:id="'nome' + ${candidato.id}"></td>
                            <td th:text="${#dates.format(candidato.dataNascimento, 'dd/MM/yyyy')}"></td>
                            <td th:text="${candidato.email}"></td>
                            <td th:text="${candidato.perfilTwitter}"></td>
                            <td th:text="${candidato.statusAnalise}"></td>
                            <td>
                            	<div class="btn-group">
                                    <button class="btn btn-sm btn-primary" th:id="'sel' + ${candidato.id}" th:onclick="'selecionarPerfilParaComparar('+ ${candidato.id} +')'">Selecionar</button>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-primary" th:href="@{'/user/analisar/' + ${candidato.id}}">Detalhes</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <div id="comparar">
                	<hr/>
                	<form id="comparacao" class="form-inline" th:action="@{/user/comparar}" method="POST">
                		<div class="form-group mx-sm-1 mb-1">
                			<input id="perfil1" type="text" class="form-control" placeholder="Perfil 1" disabled/>
                		</div>
                		<div class="form-group mx-sm-1 mb-1">
                			<input id="perfil2" type="text" class="form-control" placeholder="Perfil 2" disabled/>
                		</div>
                		<input type="hidden" name="id1" id="id1"/>
                		<input type="hidden" name="id2" id="id2"/>
                		<div class="form-group mx-sm-1 mb-1">
                			<button id="btnComparar" class="btn btn-primary" onclick="comparar()" disabled>Comparar</button>
                		</div>
                		<div class="form-group mx-sm-1 mb-1">
                			<a class="btn btn-primary" onclick="limparPerfilParaComparar()">Limpar</a>
                		</div>
                	</form>
                	<hr/>
                </div>
            </div>
        </div>
    </section>
    
    <section class="joinus" id="secaoBuscarTwitter">
        <div class="main_joinus_area m-y-3">
            <div class="container">
            	<div class="row">
                	<div class="col-md-6">
                    	<a th:href="@{/user/pagesendformcandidato}">
                        	<button type="button" class="btn btn-default">Adicionar Candidato</button>
                        </a>
                    </div>
               	</div>
            </div>
        </div>
    </section>

    <div th:insert="fragmentos/imports-js :: js"></div>

</body>

</html>