<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	lang="pt-br">

<head th:insert="fragmentos/header :: header">
    <meta charset="utf-8">
</head>

<body data-spy="scroll" data-target=".navbar-desktop">

    <!--Navbar-->
    <div class='preloader'>
        <div class='loaded'>&nbsp;</div>
    </div>

    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
        <!--Collapse button-->
        <div class="container">
            <a href="#" data-activates="mobile-menu" class="button-collapse right">
                <i class="fa fa-bars black-text"></i>
            </a>

            <!--Content for large and medium screens-->
            <div class="navbar-desktop">
                <!--Navbar Brand-->
                <a class="navbar-brand" href="#home">
                    <img src="/img/logotipo2.png" alt="" />
                </a>

                <!--Links-->
                <ul class="nav navbar-nav pull-right hidden-md-down text-uppercase" id="desktop-menu">
                
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#sobreSistema">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#time">Time</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" th:href="@{/login}">Entrar</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link page-scroll" href="dashBoard.html">Buscar Perfil</a>
                    </li>-->
                </ul>
            </div>

            <!-- LINKS-->
            <div class="navbar-mobile">

                <ul class="side-nav" id="mobile-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sobreSistema">Sistema</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#acesso">Acesso</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#time">Time</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Portfolio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--/.Navbar-->


    <div id="home" class="slider">
        <ul class="slides">
            <li>
                <img src="/img/homebanner.jpg">
                <!-- Primeira foto de apresentação do site -->
                <div class="caption center-align">
                    <div class="single_home">
                        <h1>HR ANALYTICS</h1>
                        <p>UMA FERRAMENTA EFICAZ PARA ANALISAR PERFIS DE CANDIDATOS</p>
                        <!-- <button type="button" class="btn btn-danger m-t-3 waves-effect waves-red">Conheça já</button>-->
                    </div>
                </div>
            </li>
            <li>
                <img src="/img/homebanner.jpg">
                <!-- Primeira foto de apresentação do site -->
                <div class="caption center-align">
                    <div class="single_home">
                        <h1>HR ANALYTICS</h1>
                        <p>UMA FERRAMENTA EFICAZ PARA ANALISAR PERFIS DE CANDIDATOS</p>
                        <!--    <button type="button" class="btn btn-danger m-t-3 waves-effect waves-red">Conheça já</button> -->
                    </div>
                </div>
            </li>
            <li>
                <img src="/img/homebanner.jpg">
                <!-- Primeira foto de apresentação do site -->
                <div class="caption center-align">
                    <div class="single_home">
                        <h1>HR ANALYTICS</h1>
                        <p>UMA FERRAMENTA EFICAZ PARA ANALISAR PERFIS DE CANDIDATOS</p>
                        <!--  <button type="button" class="btn btn-danger m-t-3 waves-effect waves-red">Conheça já</button> -->
                    </div>
                </div>
            </li>
            <li>
                <img src="/img/homebanner.jpg">
                <!-- Primeira foto de apresentação do site -->
                <div class="caption center-align">
                    <div class="single_home">
                        <h1>HR ANALYTICS</h1>
                        <p>UMA FERRAMENTA EFICAZ PARA ANALISAR PERFIS DE CANDIDATOS</p>
                        <!--   <button type="button" class="btn btn-danger m-t-3 waves-effect waves-red">Conheça já</button>-->
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- SOBRE sistema -->
    <section id="sobreSistema" class="service">
        <div class="container">
            <br>
            <br>
            <div class="head_title center m-y-3 wow fadeInUp">
                <h2>Sobre o Sistema</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron single_service">
                        <div class="s_service_text text-sm-center">
                            <!-- <h4>HR Analitycs</h4> -->
                            <p align="justify">
                                O sistema chamado HR Analytics como o próprio nome diz é voltado para empresas/departamentos de recrutamento e seleção e
                                possui o intuito de auxilixar na escolha de candidatos ideais para a vaga em questão, isso
                                é possível graças a integração do nosso sistema com a tecnologia chamada IBM Watson que analisa
                                o texto de autoria do candidato e identifica as cinco personalidades do
                                <b>BIG FIVE</b>, o sistema está preparado para extrair essas informações da rede social Twitter
                                e também possui capacidade de comparar o perfil de dois candidatos dando uma assistencia
                                ainda maior na tomada de decisão na escolha do novo funcionário da empresa. O sistema retorna
                                o resultado dessas analises em um Dashboard facilitando a compreensão das informações geradas.
                                <br>
                                <br> Demostração do Dashboard de um candidato:
                                <br>
                                <img src="/img/exemplo_dash.png"></img>

                                Demostração do Dashboard do comparar perfil, para cada personalidade do
                                <b>BIG FIVE</b>
                                será gerado um gráfico:
                                <br>
                                <br>
                                <img src="/img/exemplo_dashCompara.png"></img>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6"> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron single_service">
                        <div class="s_service_text text-sm-center">
                            <h4>BIG Five</h4>
                            <p> É uma teoria da psicologia que procura explicar o funcionamento da personalidade do ser humano
                                através dos cinco grandes fatores que são: Abertura, Consciência, Extroversão, Agradabilidade
                                e Neuroticismo, cada uma dessas personalidades é composta por 6 facetas que consistem em
                                traços específicos que compõem o domínio a que pertencem.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </section>
    <!-- FINAL SEÇÃO Sobre nós -->

    <section id="counter" class="counter">
        <div class="main_counter_area m-y-3">
            <div class="overlay p-y-3">
                <div class="container">
                    <div class="row">
                        <div class="main_counter_content center white-text wow fadeInUp">
                            <div class="col-md-3">
                                <div class="single_counter p-y-2 m-t-1">
                                    <i class="fa fa-heart m-b-1"></i>
                                    <h2 class="statistic-counter">100</h2>
                                    <p>Amaram nosso time</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single_counter p-y-2 m-t-1">
                                    <i class="fa fa-check m-b-1"></i>
                                    <h2 class="statistic-counter">415</h2>
                                    <p>Entraram em contato</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single_counter p-y-2 m-t-1">
                                    <i class="fa fa-refresh m-b-1"></i>
                                    <h2 class="statistic-counter">220</h2>
                                    <p>Clientes fidelizados</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single_counter p-y-2 m-t-1">
                                    <i class="fa fa-beer m-b-1"></i>
                                    <h2 class="statistic-counter">480</h2>
                                    <p>Pedidos feitos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </section>


    <!-- SEÇÃO TIME -->
    <section id="time" class="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <br>
                    <br>
                    <div class="main_team_area m-y-3">
                        <div class="head_title center  wow fadeInUp">
                            <h2>Conheça nosso time</h2>
                            <p>Nosso time é composto por quatro estudantes da Universidade São Judas Tadeu que cursam Sistemas
                                de Informação na unidade da Mooca. Para mais informações, entre em contato conosco.</p>
                        </div>

                        <div class="main_team_content center">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="single_team white-text m-t-2 wow zoomIn">
                                        <img src="/img/aline.jpg" alt="team" />
                                        <div class="single_team_overlay">
                                            <h4>Aline Medeiros</h4>
                                            <p>Contatos</p>
                                            <div class="team_socail">
                                                <a href="https://www.facebook.com/aline.aparecida.129">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                                <a href="https://www.linkedin.com/in/aline-medeiros-oliveira/">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_team white-text m-t-2 wow zoomIn">
                                        <img src="/img/beatriz.jpg" alt="team" />
                                        <div class="single_team_overlay">
                                            <h4>Beatriz Gonçalves</h4>
                                            <p>Contatos</p>
                                            <div class="team_socail">
                                                <a href="https://www.facebook.com/beatriz.goncalves.756">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                                <a href="https://www.linkedin.com/in/beatriz-gon%C3%A7alves-2098b7121/">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_team white-text m-t-2 wow zoomIn">
                                        <img src="/img/renan.jpg" alt="team" />
                                        <div class="single_team_overlay">
                                            <h4>Renan Lemos</h4>
                                            <p>Contatos</p>
                                            <div class="team_socail">
                                                <a href="https://www.facebook.com/ronaldo.lima.37">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                                <a href="https://www.linkedin.com/in/ronaldo-lima-souza-841276142/">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_team white-text m-t-2 wow zoomIn">
                                        <img src="/img/ronaldo.jpg" alt="team" />
                                        <div class="single_team_overlay">
                                            <h4>Ronaldo Lima</h4>
                                            <p>Contatos</p>
                                            <div class="team_socail">
                                                <a href="https://www.facebook.com/ronaldo.lima.37">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                                <a href="https://www.linkedin.com/in/ronaldo-lima-souza-841276142/">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Final col-sm-3 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </section>
    <!-- FINAL TIME -->


    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <br>
                <br>
                <div class="main_portfolio_area m-y-3">
                    <div class="head_title center wow fadeInUp">
                        <h2>Detalhes da aplicação</h2>
                        <p>Confira abaixo os detalhes do serviço oferecido.</p>
                    </div>

                    <div class="main_portfolio_content center wow fadeInUp">
                        <div class="main_mix_menu m-y-2">
                            <ul class="text-uppercase">
                                <li class="filter" data-filter="all">Todos os Serviços</li>
                                <li class="filter" data-filter=".cat1">Pagamento</li>
                                <li class="filter" data-filter=".cat2">Gráficos</li>
                                <li class="filter" data-filter=".cat3">Exemplo4</li>
                            </ul>
                        </div>

                        <div id="mixcontent" class="mixcontent  wow zoomIn">
                            <div class="col-md-4 mix cat4 cat2">
                                <div class="single_mixi_portfolio center">
                                    <div class="single_portfolio_img">
                                        <img src="/img/pf1.jpg" alt="" />
                                        <div class="mixi_portfolio_overlay">
                                            <a href="#!">
                                                <i class="fa fa-search"></i>
                                            </a>
                                            <a href="/img/pf1.jpg" class="gallery-img">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="single_portfolio_text">
                                        <h3>Ferramenta prática</h3>
                                        <p>Fácil usabilidade da ferramenta</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mix cat4 cat1">
                                <div class="single_mixi_portfolio center">
                                    <div class="single_portfolio_img">
                                        <img src="/img/pf2.jpg" alt="" />
                                        <div class="mixi_portfolio_overlay">
                                            <a href="#!">
                                                <i class="fa fa-search"></i>
                                            </a>
                                            <a href="/img/pf2.jpg" class="gallery-img">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="single_portfolio_text">
                                        <h3>Meio de Pagamento</h3>
                                        <p>Operação de pagamento feita através da API da PagSeguro</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mix cat2 cat4">
                                <div class="single_mixi_portfolio center">
                                    <div class="single_portfolio_img">
                                        <img src="/img/pf33.jpg" alt="" />
                                        <div class="mixi_portfolio_overlay">
                                            <a href="#!">
                                                <i class="fa fa-search"></i>
                                            </a>
                                            <a href="/img/pf3.jpg" class="gallery-img">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="single_portfolio_text">
                                        <h3>Dashboard detalhado</h3>
                                        <p>Dashboard com informações relevantes de candidatos</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mix cat2 cat3">
                                <div class="single_mixi_portfolio center">
                                    <div class="single_portfolio_img">
                                        <img src="/img/pf44.jpg" alt="" />
                                        <div class="mixi_portfolio_overlay">
                                            <a href="#!">
                                                <i class="fa fa-search"></i>
                                            </a>
                                            <a href="/img/pf4.jpg" class="gallery-img">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="single_portfolio_text">
                                        <h3>Comparação de Resultados</h3>
                                        <p>É possível comparar resultado de candidatos</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mix cat3 cat4">
                                <div class="single_mixi_portfolio center">
                                    <div class="single_portfolio_img">
                                        <img src="/img/pf55.jpg" alt="" />
                                        <div class="mixi_portfolio_overlay">
                                            <a href="#!">
                                                <i class="fa fa-search"></i>
                                            </a>
                                            <a href="/img/pf5.jpg" class="gallery-img">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="single_portfolio_text">
                                        <h3>Um mundo de escolhas</h3>
                                        <p>Escolha o candidato ideal com facilidade</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mix cat1 cat3">
                                <div class="single_mixi_portfolio center">
                                    <div class="single_portfolio_img">
                                        <img src="/img/pf66.jpg" alt="" />
                                        <div class="mixi_portfolio_overlay">
                                            <a href="#">
                                                <i class="fa fa-search"></i>
                                            </a>
                                            <a href="/img/pf6.jpg" class="gallery-img">
                                                <i class="fa fa-link"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="single_portfolio_text">
                                        <h3>Tabela de Valores</h3>
                                        <p>Consulte os planos e assine já!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </section>
    <!-- Final Portfolio  -->


    <!-- RODAPÉ // INSERIR ABAIXO (A SER FEITO)  -->
    <div class="footer" id="contact">
        <div class="container">
            <div class="col-md-6 contact footer-menu">
                <h1>Social</h1>
                <ul>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                    <li>
                        <a href="#">Github</a>
                    </li>
                    <li>
                        <a href="#">Pinterest</a>
                    </li>
                    <li>
                        <a href="#">Google Plus</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 contact">
                <h1>Contatos</h1>
                <p> Contate nosso centro de suporte se você tiver alguma dúvida. Iremos ajudá-los. </p>
                <a href="mailto:hranalytics@gmail.com">hranalytics@gmail.com</a>
            </div>
        </div>
    </div>

	<div th:insert="fragmentos/imports-js :: js"></div>

</body>

</html>