<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head th:insert="fragmentos/header :: header">
    <meta charset="utf-8">
</head>

<body data-spy="scroll" data-target=".navbar-desktop">

    <!--Navbar-->
    <div th:insert="fragmentos/navbar :: navbar"></div>
    
    <div id="home" class="slider">
        <ul class="slides">
            <li>
                <img src="img/hrindex.png">
            </li>
            <li>
                <img src="img/hrindex.png">
            </li>
            <li>
                <img src="img/hrindex.png">
            </li>
            <li>
                <img src="img/hrindex.png">
            </li>
        </ul>
    </div>

    <div th:insert="fragmentos/imports-js :: js"></div>

</body>

</html>