<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	lang="pt-br">

<head th:insert="fragmentos/header.html">
    <meta charset="utf-8">
</head>

<body data-spy="scroll" data-target=".navbar-desktop">

    <!--Navbar-->
    <div class='preloader'>
        <div class='loaded'>&nbsp;</div>
    </div>

    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
        <!--Collapse button-->
        <div class="container">
            <a href="#" data-activates="mobile-menu" class="button-collapse right">
                <i class="fa fa-bars black-text"></i>
            </a>

            <!--Content for large and medium screens-->
            <div class="navbar-desktop">
                <!--Navbar Brand-->
                <a class="navbar-brand" th:href="@{/}">
                    <img src="img/logotipo2.png" alt="" />
                </a>

                <!--Links-->
                <ul class="nav navbar-nav pull-right hidden-md-down text-uppercase" id="desktop-menu">

                    <li class="nav-item">
                        <a class="nav-link page-scroll" th:href="@{/}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link page-scroll" href="dashBoard.html">Buscar Perfil</a>
                    </li>-->
                </ul>
            </div>

            <!-- LINKS-->
            <div class="navbar-mobile">

                <ul class="side-nav" id="mobile-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home
                            <span class="sr-only">(current)</span>
                        </a>
                </ul>
            </div>
        </div>
    </nav>
    <!--/.Navbar-->

    <!-- FINAL SEÇÃO Login/cadastrar -->
    <section id="acesso" class="joinus">
        <div class="main_joinus_area m-y-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <br>
                        <div class="col-md-8 col-md-offset-2 section-title">
                            <h2>Faça Login ou Cadastre-se</h2>
                            <p>Faça login ou se cadastre para ter acesso aos serviços HR Analytics.</p>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <form th:action="@{/login}" method="POST">

                                <div th:if="${param.error}">
                                    <div class="alert alert-danger">
                                        Usuário ou senha inválida.
                                    </div>
                                </div>

                                <div th:if="${param.logout}">
                                    <div class="alert alert-info">
                                        Você saiu.
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" id="username" name="username" class="form-control" placeholder="Nome de usuario" required="required" />
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" id="password" name="password" class="form-control" placeholder="Senha" required="required" />
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-default" type="submit">Entrar</button>

                                <a class="btn btn-default" th:href="@{/cadastro}">Cadastrar</a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </section>
    <!-- FINAL LOGIN/CADASTRAR -->

    <div th:insert="fragmentos/imports-js.html :: js"></div>

</body>

</html>