<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragmentos/header :: header">
    <meta charset="utf-8">
</head>

<body>
    <div class="row">
        <div class="col-md-8 col-md-offset-3 section-title">
            <h4>Termos e condições.</h4>
            <h5>POR FAVOR, LEIA CUIDADOSAMENTE</h5>
            <p>Este website é oferecido a você sob a condição de que sejam aceitos os Termos e Condições de uso aqui apresentados. O uso deste website representa sua concordância com todos os termos, condições e notificações, que podem ser alterados ao longo do tempo. Se, eventualmente, você não aceitar mais os termos e as condições do serviço, não utilize mais o website.</p>
            <br/>
            <h5>PROPRIEDADE INTELECTUAL</h5>
            <p>Este website, suas páginas, as telas que apresentem as páginas, as informações e os materiais nelas contidos e sua distribuição e composição, salvo se indicado de outra forma, são de propriedade do HR Analytics. Todos os direitos são protegidos por direitos autorais, marcas registradas e marcas de serviços, tratados internacionais e/ou outros direitos exclusivos e leis do Brasil e de outros países. Você concorda em observar todas as leis aplicáveis, assim como quaisquer notificações ou restrições adicionais contidas no website.</p>
            <br/>
            <h5>USO ILEGAL OU PROIBIDO</h5>
            <p>Como condição para o uso deste website, você garante ao HR Analyticse reconhece que o website ou o seu conteúdo não serão utilizados para nenhum propósito que seja ilegal ou proibido por esses Termos e Condições, notificações ou por qualquer legislação aplicável.</p>
            <br/>
            <h5>SENHAS</h5>
            <p>Se você cadastrou uma senha ou um nome de usuário para acessar seções restritas deste website, você tem a responsabilidade de proteger a confidencialidade de sua senha, inclusive para prevenir o uso não autorizado da mesma. Qualquer reprodução, distribuição, publicação, transmissão por quaisquer meios a terceiros, ou o uso de qualquer informação contida no website por qualquer usuário, através do uso de nomes de usuários ou senhas, de qualquer maneira ou forma, sem a nossa autorização expressa, é estritamente proibido.</p>
            <br/>
            <h5>EXCLUSÃO DO CADASTRO</h5>
            <p>Reservamo-nos no direito de excluir a conta do usuário por inatividade, deletando todos seus dados, caso o mesmo não acesse o site por um período superior a 2 (dois) anos.</p>
            <br/>
            <h5>ALTERAÇÕES</h5>
            <p>Reservamo-nos o direito de modificar ou alterar estes Termos e Condições de qualquer forma. As alterações destes Termos e Condições serão disponibilizadas no website e serão válidas a partir do momento de sua publicação, independentemente de terem sido vistas pelo usuário. Parte-se do princípio que os usuários aceitaram qualquer alteração, se continuarem a acessar o website depois daquele momento.</p>
            <br/>
            <h5>ISENÇÃO DE RESPONSABILIDADE</h5>
            <p>O HR Analytics e seus fornecedores não garantem a exatidão, adequação, conveniência ou integralidade das informações e materiais contidos no site e expressamente declaram sua isenção de responsabilidade por erros ou omissões nessas informações e materiais, assim como por todas as garantias implícitas e condições de comercialização, adequação a um propósito específico, propriedade e não-violação.</p>
            <br/>
            <h5>LIMITAÇÃO DE RESPONSABILIDADE</h5>
            <p>Em nenhuma circunstância, o HR Analytics será responsável por quaisquer danos, incluindo, entre outros:</p>
            <ul>
            	<li>danos diretos ou indiretos, especiais, incidentais ou imprevistos, perdas ou despesas, em decorrência do uso ou do desempenho deste website;</li>
            	<li>pela demora ou incapacidade de usar o website;</li>
            	<li>por perda ou uso inadequado de informações enviadas por meio deste website;</li>
            	<li>a prestação de serviços ou impossibilidade de prestá-los;</li>
            	<li>perda de dados ou lucros, vírus de computador, falha da linha ou do sistema.</li>
            </ul>
            <p>Os links para outros recursos da Internet devem ser acessados por sua própria conta e risco.</p>
            <br/>
            <h5>RESTRIÇÃO DE ACESSO</h5>
            <p>O HR Analytics se reserva o direito de negar, a seu exclusivo critério, o acesso de qualquer usuário a este website ou a qualquer parte dele, sem aviso prévio.</p>
            <br/>
            <h5>ACORDO INTEGRAL</h5>
            <p>O presente contrato constitui o entendimento integral entre o usuário e o HR Analitycs com respeito a este website e substitui todas as comunicações e propostas anteriores ou simultâneas, eletrônicas, verbais ou por escrito. Uma versão impressa deste contrato e de qualquer notificação por forma eletrônica será admissível em procedimentos judiciais ou administrativos, baseados neste contrato ou a este relativos, na mesma extensão e sujeitos às mesmas condições que outros documentos e registros comerciais originalmente gerados e mantidos em forma impressa.</p>
            <br/>
            <h5>DIVISIBILIDADE</h5>
            <p>Se qualquer parte deste contrato for considerada inválida ou inexeqüível de acordo com a legislação aplicável, então (i) primeiro, a cláusula inválida ou inexeqüível será substituída por uma cláusula válida e exeqüível que seja mais próxima da intenção da cláusula original e o restante do contrato continuará em vigor; ou (ii) segundo, as cláusulas determinadas como inválidas, nulas ou inexeqüíveis por qualquer tribunal de jurisdição competente serão separadas e as cláusulas remanescentes continuarão exeqüíveis dentro dos limites permitidos por lei.</p>
            <br/>
            <h5>JURISDIÇÃO</h5>
            <p>Este contrato será regido e interpretado de acordo com as leis da República Federativa do Brasil, sem referência à doutrina que possibilita a escolha de foro. Você, neste ato, consente em submeter-se à jurisdição exclusiva do Foro da Comarca de São Paulo, Estado de São Paulo, em relação ao início, prosseguimento ou continuação de qualquer reivindicação.
			Todos os direitos não declarados expressamente neste material estão reservados.</p>
            <br/>
        </div>
    </div>

    <div th:insert="fragmentos/imports-js :: js"></div>
    
</body>

</html>