<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="static/img/ibm.png">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/offcanvas.css">
    <link rel="stylesheet" href="static/css/jquery-ui.css">

    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <title>Aplicação de Controle - IBM Porto</title>
</head>

<body class="bg-light">

    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-50 bg-purple rounded box-shadow">
            <img class="mr-3" src="/static/img/porto.png" alt="porto" width="50" height="60">
            <img class="mr-3" src="static/img/ibm1.png" alt="ibm" width="100" height="80">
            <div class="lh-100">
                <h6 class="mb-0 text-black lh-100">IBM Brasil</h6>
                <small>Porto Seguro</small>
            </div>
        </div>

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-lg-6 col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Journal Batch</h4>
                        <p class="card-text">
                            <b>Dedicado a plantonistas</b>. Registre seus acionamento descrevendo o que ocorreu durante o plantão.
                            Seus registros serão enviados para a Porto Seguro.</p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/journal}" class="btn btn-primary" role="buton">Acessar</a>
                        <br/>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Work Hours</h4>
                        <p class="card-text">
                            Faça o lançamento das horas trabalhadas em seus chamados. O lançamento é importante para podermos ter o controle dos esforços
                            do time, mostrando para o cliente em que estamos atuando.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/hours}" class="btn btn-primary" role="buton">Acessar</a>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <script src="static/js/jquery-ui.js"></script>
    <script src="static/js/home.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/holder.min.js"></script>
    <script src="static/js/offcanvas.js"></script>
</body>

</html>